/* @import "compass/css3"; */

.headding {
    background: -o-linear-gradient(45deg, #ff8a00, #e52e71, #000000, #044bea, #7a00ff);
    background: linear-gradient(45deg, #ff8a00, #fcfcfc, #e52e71, #044bea, #7a00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 300%;
    -webkit-animation: gradient-text 20s ease infinite;
    animation: gradient-text 8s ease infinite;
}

@-webkit-keyframes gradient-text {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradient-text {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.set p span {
    color: 'red';
    position: relative;
    -webkit-animation: fly 30s linear alternate;
}

@-webkit-keyframes fly {
    0% {
        opacity: 0;
        top: -30px;
        left: -30px;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
        top: 0;
        left: 0;
    }
}