@property --d {
    syntax: '<angle>';
    inherits: true;
    initial-value: 0deg;
}

.frame {
    border: none;
    border-radius: 20px;
    position: relative;
    transition: 2s;
    cursor: pointer;
}

.frame:before {
    content: "";
    inset: -30px;
    z-index: 1;
    border-radius: 20px;
    background: conic-gradient(from var(--d, 0deg), #ff53bb, #0000 30deg 120deg, #00f8d3 150deg 180deg, #0000 210deg 300deg, #ff53bb 330deg);
    -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: intersect;
    filter: blur(20px);
}


/* .frame:after {
    content: "";
    z-index: 0;
    position: absolute;
    inset: -100px;
    background: radial-gradient(80px at left 150px top 120px, #ff53bb 98%, #0000), radial-gradient(80px at right 150px bottom 120px, #00f8d3 98%, #0000);
    filter: blur(50px);
    opacity: 1;
} */

.frame:before,
.frame:after {
    transition: 2s, 99999s 99999s transform, 99999s 99999s --d;
}

.outer:hover .frame:after {
    transform: rotate(3600deg);
    transition: .5s, 60s linear transform;
}

.outer:hover .frame:before {
    --d: 3600deg;
    transition: .5s, 60s linear --d;
}