#projects {
    /* align-items: center; */
    /* background: #642B73; */
    /* background: linear-gradient(to bottom, #C6426E, #642B73); */
    /* justify-content: center; */
    overflow: hidden;
    /* perspective: 1800px; */
    /* text-align: center; */
}

.cards {
    perspective: 1800px;
    transform-style: preserve-3d;
    transform: rotateX(11deg) rotateY(16.5deg);
    min-width: 595px;
}

.card {
    border-radius: 15px;
    box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.6);
    display: inline-block;
    overflow: hidden;
    perspective: 1200px;
    position: relative;
    transform-style: preserve-3d;
    transform: translatez(35px);
    transition: transform 200ms ease-out;
    /* width: 175px; */
    text-align: center;
}

.card:not(:last-child) {
    margin-right: 30px;
}

.card__img {
    position: relative;
    height: 100%;
}

.card__bg {
    bottom: -50px;
    left: -50px;
    position: absolute;
    right: -50px;
    top: -50px;
    transform-origin: 50% 50%;
    transform: translateZ(-50px);
    z-index: 0;
}

.card__one .card__img {
    top: 14px;
    right: -10px;
    height: 110%;
}


/* .card__one .card__bg {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/3dr_monobg.jpg") center/cover no-repeat;
} */

.card__two .card__img {
    top: 25px;
}

.card__two .card__bg {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/3dr_spirited.jpg") center/cover no-repeat;
}

.card__three .card__img {
    top: 5px;
    left: -4px;
    height: 110%;
}

.card__three .card__bg {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/3dr_howlbg.jpg") center/cover no-repeat;
}

.card__text {
    align-items: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.55) 100%);
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 70px;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.card__title {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding: 0 10px;
    margin-bottom: 3px;
}