@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
.bar {
    display: none;
}

.skillBox:hover .bar {
    display: block;
}

* {
    font-family: 'Ubuntu', sans-serif;
}

.back {
    background: url('https://user-images.githubusercontent.com/80110392/213677082-c3388313-9a84-4c19-8ffa-7cc748a2bb51.jpg') center/cover;
    background-attachment: fixed;
}